nav{
    z-index: 1000;
    top: 0;
    position: sticky;
    .top-bar, .top-bar ul{
        background-color: $white;
        a{
            color: $gray;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
        }
        a.button{
            color: $white;
            border-radius: 5px;
        }
    }
}
.top-bar-left{
    display: flex;
    justify-content: center;
}

header{
    background-image: url('http://127.0.0.1:3000/images/header.jpeg');
    background-position: top;
    background-size: cover;
    > div{
        padding: 100px 0;
        color: $white;
        h1{
            font-size: 70px;
            font-weight: 600;
        
        }
    }
}