.swiper-container {
    width: 1100px;
    height: 450px;
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        .item {
            width: 100%;
            height: 50%;
            // box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
            // border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 100%;
              height: 100%;
              border-radius: 8px;
            }
        }
          
    }
    .swiper-pagination-bullet {
        width: 12px !important;
        height: 12px !important;
        border-radius: 5px !important;
        background: $blue !important;
        transition: all 0.3s !important;
    }  
    .swiper-pagination{
        bottom: 0 !important;
    }
    // .bg{
    //     animation:slide 3s ease-in-out infinite alternate;
    //     background-image: linear-gradient(-60deg, #FFEFBA 50%, #FFFFFF 50%);
    //     bottom:0;
    //     left:-50%;
    //     opacity:.5;
    //     position:fixed;
    //     right:-50%;
    //     top:0;
    //     z-index:-1;
    // }
    // @keyframes slide {
    //     0% {
    //       transform:translateX(-25%);
    //     }
    //     100% {
    //       transform:translateX(25%);
    //     }
    // }
    // .bg2{
    //     animation-direction:alternate-reverse;
    //     animation-duration:4s;
    // } 
    // .bg3{
    //     animation-duration:5s;
    // }
}

  

  
  
  
  

  

  
  